@import './colors.scss';

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, border 0.5s, box-shadow 0.5s, color 0.5s, fill 0.5s, stroke 0.5s;
}

.container {
    @include themify($themes) {
        background-color: themed('contentHeader');
    }

    padding: 1.5rem;
    height: 100svh;

    @media screen and (min-width: 520px) {
        padding: 2rem;
    }

    @media screen and (min-width: 620px) {
        padding: 2.5rem;
    }

    @media screen and (min-width: 724px) {
        padding: 3rem;
    }

    @media screen and (min-width: 960px) {
        padding: 3.5rem;
    }

    @media screen and (min-width: 1200px) {
        padding: 4rem;
    }
}