@import '../../../theme/styles/colors.scss';

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        @include themify($themes) {
            color: themed('titleText');
        }

        margin-top: 4rem;
        font-size: 1.5rem;
        text-align: center;
        width: 50%;

        @media screen and (max-width: 960px) {
            width: 75%;
        }

        @media screen and (max-width: 720px) {
            font-size: 1.2rem;
        }

        @media screen and (max-width: 420px) {
            font-size: 1rem;
            width: 100%;
        }
    }
}
